@media (min-width: 320px) and (max-width: 575.98px){
    #particles-js .countdown{
        margin-top: 100px;
        padding-top: 40px;
    }
    #particles-js .countdown h3{
        font-size: 18px;
        width: 250px
    }
    #particles-js .countdown .item{
        width: 23%;
        background: transparent;
        margin: 0 5px;
    }
    #particles-js .countdown .item h1{
        font-size: 45px;
        background: rgba(0, 128, 128, .7);
        padding: 10px 0;
        border-radius: 5px;
        margin-top: 20px;
    }
    #particles-js .countdown .item h2{
        font-size: 15px;
        margin: 10px 0;
    }
    #particles-js .countdown .rubel{
        font-size: 13px;
        width: 170px;
        top: 190px;
    }
    #particles-js .countdown .question{
        font-size: 15px;
        top: 260px;
        padding: 10px 10px;
        width: 300px;
    }
    .pop-up{
        top: 47%;
    }
    .pop-up .text p{
        font-size: 14px;
        width: 309px;
    }
    .pop-up .text .btn{
        font-size: 14px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    #particles-js .countdown{
        margin-top: 130px;
        padding-top: 50px;
    }
    #particles-js .countdown h3{
        font-size: 18px;
    }
    #particles-js .countdown .item{
        width: 18%;
        background: transparent;
    }
    #particles-js .countdown .item h1{
        font-size: 50px;
        background: rgba(0, 128, 128, .7);
        padding: 25px 0;
        border-radius: 10px;
        margin-top: 20px;
    }
    #particles-js .countdown .item h2{
        font-size: 20px;
        margin: 10px 0;
    }
    #particles-js .countdown .rubel{
        font-size: 15px;
        top: 260px;
    }
    #particles-js .countdown .question{
        font-size: 18px;
        top: 350px;
        width: 393px;
    }
    .pop-up .text p{
        font-size: 18px;
        width: auto;
    }
    .pop-up .text .btn{
        font-size: 18px;    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    #particles-js .countdown{
        margin-top: 150px;
        padding-top: 60px;
    }
    #particles-js .countdown h3{
        font-size: 20px;
    }
    #particles-js .countdown .item{
        width: 18%;
        background: transparent;
    }
    #particles-js .countdown .item h1{
        font-size: 50px;
        background: rgba(0, 128, 128, .7);
        padding: 20px 0;
        border-radius: 10px;
        margin-top: 20px;
    }
    #particles-js .countdown .item h2{
        font-size: 25px;
        margin: 10px 0;
    }
    #particles-js .countdown .rubel{
        font-size: 16px;
        top: 260px;
    }
    #particles-js .countdown .question{
        font-size: 18px;
        top: 340px;
        width: 393px;
    }
    .pop-up .text p{
        font-size: 20px;
        width: auto;
    }
}